<IfModule mod_rewrite.c>
    Options +FollowSymlinks -Multiviews
    RewriteEngine On

    RewriteRule ^cases\.htm$ video.htm [R=302,L]
    RewriteRule ^cases/.*$ /video.htm [R=302,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^about\.htm$ index.php?m=home&c=Single&a=lists&tid=about [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^application\.htm$ index.php?m=home&c=Single&a=lists&tid=applications [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^applications/cement-valve-bags\.htm$ index.php?m=home&c=Single&a=lists&tid=cement-valve-bags [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^applications/open-mouth-bags\.htm$ index.php?m=home&c=Single&a=lists&tid=open-mouth-bags [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^applications/powder-mineral-bagging\.htm$ index.php?m=home&c=Single&a=lists&tid=powder-mineral-bagging [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^applications/downstream-automation\.htm$ index.php?m=home&c=Single&a=lists&tid=downstream-automation [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^equipment\.htm$ index.php?m=home&c=Single&a=lists&tid=equipment [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^equipment-sfh-800\.htm$ index.php?m=home&c=Single&a=lists&tid=equipment-sfh-800 [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^equipment-gy-800\.htm$ index.php?m=home&c=Single&a=lists&tid=equipment-gy-800 [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^contact\.htm$ index.php?m=home&c=Guestbook&a=lists&tid=contact [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^news\.htm$ index.php?m=home&c=Article&a=lists&tid=news [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^news/([A-Za-z0-9_-]+)\.html?$ index.php?m=home&c=View&a=index&dirname=news&aid=$1 [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^download\.htm$ index.php?m=home&c=Download&a=lists&tid=download [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^download/([A-Za-z0-9_-]+)\.html?$ index.php?m=home&c=View&a=index&dirname=download&aid=$1 [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^video\.htm$ index.php?m=home&c=Article&a=lists&tid=video [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^video/([A-Za-z0-9_-]+)\.html?$ index.php?m=home&c=View&a=index&dirname=video&aid=$1 [QSA,PT,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?s=/$1 [QSA,PT,L]
</IfModule>

DirectoryIndex index.php index.html
