@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2') format('woff2'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vricon:before {
  content: "\e629";
}

.icon-VR:before {
  content: "\e64a";
}

.icon-delete:before {
  content: "\e8b6";
}

.icon-fasong:before {
  content: "\e642";
}

.icon-zhandianditu:before {
  content: "\e60b";
}

.icon-linkedin:before {
  content: "\eb37";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-youtube:before {
  content: "\ece8";
}
.icon-tiktok:before {
  content: "\1491";
}

.icon-a-11:before {
  content: "\e619";
}

.icon-fackbook:before {
  content: "\e809";
}

.icon-ins1:before {
  content: "\e63b";
}

.icon-twitter:before {
  content: "\e882";
}

.icon-facebook:before {
  content: "\e88d";
}

.icon-jiantou1:before {
  content: "\e618";
}

.icon-skype2:before {
  content: "\e884";
}

.icon-whatsapp:before {
  content: "\e65e";
}

.icon-liuyanfillc:before {
  content: "\e743";
}

.icon-wechat:before {
  content: "\e883";
}

.icon-zhidingc:before {
  content: "\e616";
}

.icon-e-mailc:before {
  content: "\e623";
}

.icon-wodechanpinc:before {
  content: "\ebf7";
}

.icon-dianhua1:before {
  content: "\e668";
}

.icon-youjian1:before {
  content: "\e61a";
}

.icon-dizhi1:before {
  content: "\e613";
}

.icon-fenlei:before {
  content: "\e617";
}

.icon-dizhi2:before {
  content: "\e628";
}

.icon-dianhua2:before {
  content: "\e614";
}

.icon-inquiry-order:before {
  content: "\e634";
}

.icon-pinzhong:before {
  content: "\e602";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-qiye:before {
  content: "\e784";
}

.icon-qiyegongye:before {
  content: "\e615";
}

.icon-zhandimianji:before {
  content: "\e655";
}

.icon-dianhua:before {
  content: "\e633";
}

.icon-rili:before {
  content: "\e600";
}

.icon-dizhi:before {
  content: "\e644";
}

.icon-bofang3:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e72e";
}

.icon-youjian:before {
  content: "\e637";
}

.icon-jiantou:before {
  content: "\e62a";
}

.icon-a-gouwugouwuchedinggou:before {
  content: "\e608";
}

